tmp/
test.jpg
package-lock.json
app/config.py
config.py
__pycache__/
app/__pycache__/
instance/
uploads/
.vscode/
.DS_Store
ImageGallery_Web_bak/
tmp
# gradle
.github/
.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
gallery.db
