/* 夜间模式按钮 */
.mode-toggle-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    aspect-ratio: 1 / 1;
    background-color: #2fe4eb81;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
}
.mode-toggle-btn i {
    pointer-events: none;
}


/* 全局按钮 */
button {
    background-color: #8054a33d;
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    transform: scale(1);
}
button:hover {
    background-color: #3486e2;
}

/* 关闭按钮 */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s;
}
.close-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

