


/* 全局按钮 */
button {
    background-color: #8054a33d;
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    transform: scale(1);
}

button:hover {
    background-color: #3486e2;
}

body.dark-mode button {
    background-color: #858585;
    color: white;
}

body.dark-mode button:hover {
    background-color: #3486e2;
}

/* 关闭按钮 */
.close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    aspect-ratio: 1 / 1;
    background: #2fe4eb81;
    border: none;
    color: gray;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.close-button:hover {
    background-color: rgba(92, 92, 92, 0.2);
}

body.dark-mode .close-button {
    background-color: #858585;
    color: white;
}

body.dark-mode .close-button:hover {
    background-color: #2fe4eb81;
}

.refresh-cache-button {
    position: relative;
    left: 10px;
    display: inline-block;
    background-color: #f0f0f0;
    color: #888;
    border: 1px solid #ccc;
    padding: 2px 5px;
    font-size: 11px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.refresh-cache-button:hover {
    background-color: #e0e0e0;
    color: #555;
}