:root {
    --dark-color-background: #2c2c2c;
    --light-color-background: #f5f5f5;
    color-scheme: light dark;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--light-color-background);
    color: #33333373;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
    background-color: var(--dark-color-background);
    color: #96fff6;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode .header h1 {
    color: #ddd !important;
}

body.night-mode .header h2 {
    color: #fff !important;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('img/background.png') no-repeat center center/cover;
    z-index: -1;
    filter: blur(8px);
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 36px;
    color: #333;
}

.header h2 {
    font-size: 18px;
    color: #555;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.image-card {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-card:hover {
    transform: scale(1.05);
}

.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.image-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-card .overlay-content {
    text-align: center;
    padding: 10px;
}

.image-card:hover .overlay {
    opacity: 1;
}

.image-info {
    margin-top: 20px;
    text-align: center;
}

